{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
	<h1 class="text-center">Liste d'articles</h1>
	{{ dump(liste_articles) }}
	<table class="table table-striped">
		<tr>
			<th>Libellé</th>
		</tr>
	{% for art in liste_articles %}
		<tr>
			<td><a href="{{ path('description', {'id' : art.prix}) }}">{{ art.libelle }}</a></td>
		</tr>

	{% endfor %}
	</table>
{% endblock %}
